* {
    box-sizing: border-box;
}

body {
    background-color: #F3F6FD;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.app {
    display: flex;
}

.panel {
    background-color: #FBFAFF;
    min-height: 100vh;
    padding: 30px;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__list-item {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
    cursor: pointer;
}

.menu__list-item:hover {
    background: #6A6AFB;
}

.menu__list-item:hover img {
    filter: brightness(0) invert(1);
}

.menu__list-item_active {
    background: #5051F9;
}

.menu__list-item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    background: none;
    border-radius: 14px;
    border: 1px solid #CAD5FF;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.menu__add:hover {
    background: #f6f7ff;
}